body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a.navbar-brand img {
    width: 50px;
    height: 25px;
}

.navbar-default {
    background-color: #e2e2e2;
}

.navbar {
    position: inherit;
    margin-top: -50px;
    margin-bottom: 0; 
}

/*.title-page {
    margin-bottom: 30px;
}*/

.search {
    margin-top: 20px;
}

.search.search-tag {
    margin-top: 5px;
}

.images {
    margin-top: 20px;
}

.images img {
    width: 100%;
    height: 100%;
}

input#add-image-file {
    display: none;
}

#clone-add-image-file {
    width: 200px;
}